
<button type="button" name="button" (click)="getInfoFromService1()">Click Here</button>
<ul class="listgroup">
<li *ngFor="let information of Studentinfo1" class="list-group-info">
{{information}}
</li>
</ul>
<span><button type="button" name="button" (click)="getInfoFromService2()">Click Here</button></span>
<ul class="listgroup">
<li *ngFor="let information of Studentinfo2" class="list-group-info">
{{information}}
</li>
</ul>
<span><button type="button" name="button" (click)="getInfoFromService3()">Click Here</button></span>
<ul class="listgroup">
<li *ngFor="let information of Studentinfo3" class="list-group-info">
{{information}}
</li>
</ul>